<?xml version="1.0" encoding="UTF-8"?>

<suite name="AtlasSuite" parallel="tests">
	<listeners>
		<listener class-name="com.apache.atlas.listener.AtlasTestReportListener" />
	</listeners>
	<parameter name="browserName" value="firefox" />
	<!--The height of the browser window to be used for the tests. -->
	<parameter name="browser_window_height" value="1600" />
	<!--The height of the browser window to be used for the tests. -->
	<parameter name="browser_window_width" value="900" />

	
	<parameter name="server_ip" value="162.249.6.39" />
	<parameter name="server_port" value="3682" />
	
	<test name="AtlasUIAutomationTests" preserve-order="true">
	  <parameter name="invalidSearchData" value="abc!@#" /> 
		<!-- <parameter name="invalidSearchData" value="Fact" />  -->
		<parameter name="searchQueries" value="src/test/data/searchqueries.txt" />
		<parameter name="guid" value="src/test/data/guid.txt" />
		<parameter name="validateLineage" value="Metric:084f35c8-6ca2-4aea-b8d5-dcc45297d435"/>
		<!-- <parameter name="validateLineage" value="JdbcAccess:d3864820-1719-44c6-af1b-37a9babbdf6c"/>  -->
		
		<classes preserve-order="true">
	 <class name="org.apache.atlas.seleniumtests.HomePageTest" />  
	 	<!-- <class name="org.apache.atlas.seleniumtests.PaginationTest" /> -->
			 <class name="org.apache.atlas.seleniumtests.SearchPageTest" /> 
			<!--  <class name="org.apache.atlas.seleniumtests.TagsPageTest" /> 
			  <class name="org.apache.atlas.seleniumtests.LineagePageTest" />  -->
			
		</classes>
	</test>
</suite>